# Prerequisites
*.d

# Project files
*.project
*.pydevproject
*.pro.user
*.idea
*.vs
*.settings

# ZIP
*.zip

# TXT
*.txt
*.docx
*.xlsx


#Latex aux files
*.aux
*.log

#Python cache
*.pyc

#Folder
exe_files/
txt/
dist/
build/
resources/gif/
resources/icons/