# Prerequisites
*.d

# Project files
*.project
*.pydevproject
*.pro.user
*.idea
*.vs

# ZIP
*.zip

# TXT
*.txt
*.docx
*.xlsx


#Latex aux files
*.aux
*.log

#Python cache
*.pyc

.settings

#Folder
exe/